@import "../variables";
.bar {
    position: fixed;
    background-color: $color-terciario;  
    top: 20vh;
    width: 5rem; 
    transition: width 200ms ease;    
}

.hasHover .bar:hover {   
    width: 12rem;   
    transition: width 200ms ease;          
    p {
        display: block;
    }
}