@import "variables";
@import "globals";
@import "reset";
@import "../styles/navigator/navigator";
@import "../styles/home/home";
@import "../styles/academic/academic";
@import "../styles/scrollbar/scrollbar";
@import "../styles/skills/skills";
@import "responsive";














































/*.circle {
    position: absolute;
    bottom: 100vh;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 100%;

    animation-name: bounce;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: ease; 
    animation-iteration-count: infinite;
    
}


@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    20%  { transform: scale(.9,1.1)   translateY(-200px); }
    40%  { transform: scale(1.05,.95)   translateY(0); }
    60%  { transform: scale(.9,1.1) translateY(-150px); }
    70%  { transform: scale(1,1)      translateY(0); }
    90%  { transform: scale(.95,1.05)      translateY(-100px); }
    100% { transform: scale(1,1)      translateY(0); }
 }  */

